h1{
    background-color: rgb(5, 61, 90);
    text-align: center;
    color: rgb(245, 239, 239);
}
form{
    border: 3px;
    margin: auto;
    background-color:rgb(14, 136, 160);
    border-width: 5px;
    height: auto;
    width: 500px;
    border-color: rgb(30, 104, 129);
    padding: 20px;
    border-radius: 15px;
}

div{
    width: 100%;
    margin-bottom: 10px;
}
input{
    width: 90%;
    padding: 10px;
    font-size: medium;
}

button{
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    font-size: medium;
    cursor: pointer;
}
